fastapi==0.109.1
uvicorn==0.27.0.post1
numpy==2.1.2 
pandas==2.2.3 
scikit-learn==1.5.2 
python-dotenv==1.0.0
httpx==0.26.0
beautifulsoup4==4.12.2
python-multipart==0.0.6
psycopg2-binary==2.9.10
fake-useragent==1.4.0
pytest==7.4.3
pytest-asyncio==0.21.1
tenacity==8.2.3
joblib==1.4.2 
pydantic[email]==2.5.2
passlib[bcrypt]==1.7.4
PyJWT==2.8.0
python-jose[cryptography]==3.3.0
matplotlib==3.9.2 
seaborn==0.13.2
apscheduler==3.10.4
bcrypt==3.2.0
asyncio==3.4.3
requests==2.32.3 
python-socketio==5.11.4 
fastapi-socketio==0.0.10